/* Base styles */
/* ------------------------------------------------------------------------- */
html,
body {
  color: var(--grey900);
  background: white;
}

:root {
  /* Primary colours */
  --blue900: hsl(218, 100%, 17%);
  --blue800: hsl(216, 98%, 25%);
  --blue700: hsl(215, 96%, 32%);
  --blue600: hsl(214, 95%, 36%);
  --blue500: hsl(212, 92%, 43%);
  --blue400: hsl(210, 83%, 53%);
  --blue300: hsl(208, 88%, 62%);
  --blue200: hsl(206, 93%, 73%);
  --blue100: hsl(204, 100%, 86%);
  --blue000: hsl(202, 100%, 95%);

  /* Supporting colours */
  --cyan900: hsl(188, 91%, 23%);
  --cyan800: hsl(186, 91%, 29%);
  --cyan700: hsl(184, 90%, 34%);
  --cyan600: hsl(182, 85%, 39%);
  --cyan500: hsl(180, 77%, 47%);
  --cyan400: hsl(178, 78%, 57%);
  --cyan300: hsl(176, 87%, 67%);
  --cyan200: hsl(174, 96%, 78%);
  --cyan100: hsl(172, 97%, 88%);
  --cyan000: hsl(171, 82%, 94%);

  --orange900: hsl(6, 96%, 26%);
  --orange800: hsl(8, 92%, 35%);
  --orange700: hsl(10, 93%, 40%);
  --orange600: hsl(12, 86%, 47%);
  --orange500: hsl(14, 89%, 55%);
  --orange400: hsl(16, 94%, 61%);
  --orange300: hsl(18, 100%, 70%);
  --orange200: hsl(20, 100%, 77%);
  --orange100: hsl(22, 100%, 85%);
  --orange000: hsl(24, 100%, 93%);

  --red900: hsl(348, 94%, 20%);
  --red800: hsl(350, 94%, 28%);
  --red700: hsl(352, 90%, 35%);
  --red600: hsl(354, 85%, 44%);
  --red500: hsl(356, 75%, 53%);
  --red400: hsl(360, 83%, 62%);
  --red300: hsl(360, 91%, 69%);
  --red200: hsl(360, 100%, 80%);
  --red100: hsl(360, 100%, 87%);
  --red000: hsl(360, 100%, 95%);

  --yellow900: hsl(15, 86%, 30%);
  --yellow800: hsl(22, 82%, 39%);
  --yellow700: hsl(29, 80%, 44%);
  --yellow600: hsl(36, 77%, 49%);
  --yellow500: hsl(42, 87%, 55%);
  --yellow400: hsl(44, 92%, 63%);
  --yellow300: hsl(48, 94%, 68%);
  --yellow200: hsl(48, 95%, 76%);
  --yellow100: hsl(48, 100%, 88%);
  --yellow000: hsl(49, 100%, 96%);

  /* Neutral colours */
  --grey900: hsl(210, 24%, 16%);
  --grey800: hsl(209, 20%, 25%);
  --grey700: hsl(209, 18%, 30%);
  --grey600: hsl(209, 14%, 37%);
  --grey500: hsl(211, 12%, 43%);
  --grey400: hsl(211, 10%, 53%);
  --grey300: hsl(211, 13%, 65%);
  --grey200: hsl(210, 15%, 82%);
  --grey100: hsl(214, 15%, 91%);
  --grey000: hsl(216, 33%, 97%);
}

/* Demo presentation styles */
/* ------------------------------------------------------------------------- */
main {
  padding: 2rem;
}

/* Form styles */
/* ------------------------------------------------------------------------- */
form {
  margin: 0 auto;
  max-width: 400px;
}

form input,
form button {
  width: 100%;
  margin-bottom: 0.5rem;
}

form a {
  display: block;
  text-align: center;
}

/* Input styles */
/* ------------------------------------------------------------------------- */
.input {
  height: 2rem;
  padding: 0 0.5rem;

  border: 0;
  border-radius: 0;

  color: var(--grey900);
  background: var(--grey000);
  border: 1px solid var(--grey100);
}

.input:focus,
.input:hover,
.input:active {
  outline: 0;
  box-shadow: 0 0 0 2px var(--grey100);
}

/* Button styles */
/* ------------------------------------------------------------------------- */
.btn {
  border: 0;

  height: 2rem;
  min-width: 5rem;
  padding: 0.25rem 1rem;

  /* Ensures button content (text, icons, etc) is perfectly centered */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-default {
  color: var(--grey000);
  background: var(--grey400);
  border: 1px solid var(--grey600);
}

.btn-default:focus,
.btn-default:hover {
  outline: 0;
  box-shadow: 0 0 0 2px var(--grey600);
}

.btn-default:active {
  background: var(--grey600);
  border: 1px solid var(--grey600);
}

.btn-default--blue {
  color: var(--blue000);
  background: var(--blue400);
  border: 1px solid var(--blue600);
}

.btn-default--blue:focus,
.btn-default--blue:hover {
  outline: 0;
  box-shadow: 0 0 0 2px var(--blue600);
}

.btn-default--blue:active {
  background: var(--blue600);
  border: 1px solid var(--blue600);
}

.big {
  height: 2.5rem;
  font-size: 1.25rem;
}
