/* Custom fonts */
/* ------------------------------------------------------------------------- */

/* Roboto Regular */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('../assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        url('../assets/fonts/roboto-v20-latin-regular.woff') format('woff');
}

/* Roboto Black*/
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local('Roboto Black'), local('Roboto-Black'),
        url('../assets/fonts/roboto-v20-latin-900.woff2') format('woff2'),
        url('../assets/fonts/roboto-v20-latin-900.woff') format('woff');
}

/* Universal styles */
/* ------------------------------------------------------------------------- */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    /* Change root font-size to 10px, so 1rem = 10px */
    font-size: 62.5%;

    /* Size variables */
    --nav-width-closed: 6rem;
    --nav-width-open: calc(var(--nav-width-closed) * 4);
}

body {
    /* Restore default font-size to 16px */
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/* Navigation sidebar styles */
/* ------------------------------------------------------------------------- */
.navbar {
    background: dodgerblue;

    position: fixed;
    overflow: hidden;

    font-size: calc(var(--nav-width-closed) * 0.4);
}

.navbar-nav {
    padding: 0;
    margin: 0;
    height: 100%;

    list-style: none;

    display: flex;
    flex-direction: column;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link:hover {
    background: lightgray;
}

.nav-text {
    display: none;
    margin-left: 1rem;
}

.nav-icon {
    width: var(--nav-width-closed);
    min-width: var(--nav-width-closed);
    height: var(--nav-width-closed);

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Main content styles */
/* ------------------------------------------------------------------------- */
main {
    padding: 2rem;
    font-size: 2rem;

    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
}

/* Responsive styles */
/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: var(--nav-width-closed);
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-item:last-child {
        margin-top: 0;
    }

    .nav-link {
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .nav-icon {
        height: auto;
    }

    .nav-text {
        display: inline;
        font-size: calc(var(--nav-width-closed) * 0.25);
        margin-left: 0;
    }
}

/* Large screen */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: var(--nav-width-closed);
        height: 100vh;

        transition: width 600ms ease;
    }

    .navbar:hover {
        width: calc(var(--nav-width-closed) * 4);
    }

    .navbar:hover .nav-text {
        display: inline;
    }
}
