* {
    font-family: 'Raleway', sans-serif;
}

html {
    overflow-y: scroll;
}

body {
    background-color: #F8B229;
    background: repeating-linear-gradient(90deg,
        #F8B229,
        #F8B229 100px,
        #FFCC43 100px,
        #FFCC43 200px);
}

header {
    background-color: #BB2528;
    background: repeating-linear-gradient(135deg,
        #BB2528,
        #BB2528 120px,
        #D53F42 120px,
        #D53F42 240px);
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#logo {
    font-family: 'Lobster', cursive;
    font-size: 4em;
    font-weight: 300;
    margin: 10px 0;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

header>div {
    position: fixed;
    right: 0;
}

#logo_container {
    left: 0;
    display: grid;
    justify-items: center;
}

#links_container>a {
    float: left;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 70px;
    padding: 10px;
    margin: 25px 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

#links_container>a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

#links_container>a.active {
    background-color: white;
    color: #BB2528;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

main {
    margin-top: 170px;
}

/* FORMS */
#line_one_wrapper {
    display: grid;
    grid-template-columns: 5fr 10fr 2fr 5fr;
}

#line_two_wrapper {
    display: grid;
    grid-template-columns: 5fr 12fr 5fr;
}

#line_three_wrapper {
    display: grid;
    grid-template-columns: 5fr 6fr 6fr 5fr;
}

#line_four_wrapper {
    display: grid;
    grid-template-columns: 5fr 6fr 6fr 5fr;
}

#line_five_wrapper {
    display: grid;
    grid-template-columns: 5fr 6fr 6fr 5fr;
}

#results_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25em;
}

#results_buttons>button {
    width: 100%;
}

#display_data {
    display: none;
    background-color: white;
    padding: 10px;
    margin: 25px 0;
    border-radius: 4px;
}

label {
    font-weight: bold;
    font-size: 18px;
}

label>p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
}

input, textarea, select {
    border: none;
    margin: 10px 0px;
    padding: 10px 0 10px 10px;
    width: 100%;
    height: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    height: 50px;
}

textarea {
    resize: none;
    height: 200px;
}

a>i {
    color: black;
}

#organizer_name {
    width: 47.5%;
    margin-right: 1.1em;
}

#organizer_email {
    width: 47.5%;
}

#counter_label {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

#email_body {
    border: none;
    margin: 10px 0px;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    border-radius: 4px;
}

#email_body > #span1 {
    display: none;
    /* display: inline-block; */
}

.participant_names {
    width: 98%;
}

.participant_emails {
    width: 98%;
    margin-left: 2%;
}

.action {
    width: 98%;
    height: 50px;
    margin: 10px 0px;
    border: none;
    background-color: #BB2528;
    color: white;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    border-radius: 4px;
}

#submit {
    margin-left: 2%;
}

.remove_participant {
    margin-left: 5%;
    width: 15%;
}

/* FAQ and Contact */
.complementary_main {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 12fr 5fr;
}

.complementary_main>section {
    background-color: lightgrey;
    padding: 20px;
    margin-bottom: 70px;
    border-radius: 4px;
}

.complementary_main>section>h1 {
    font-weight: bold;
}

#contact_main>section {
    margin-bottom: 0;
}

#contact_main>section>form>input {
    width: 100%;
}

hr {
    border: 0.5px solid black;
}

/* Respone Design */
@media only screen and (max-width: 1500px) {
    /* laptops */
    .complementary_main {
        margin-top: 99px;
        grid-template-columns: 1fr;
    }

    .complementary_main>section {
        margin-bottom: 0px;
        padding: 0 60px;
    }

    .secondary {
        background-color: lightgrey;
        background: linear-gradient(lightgrey, lightgrey);
    }

    #line_one_wrapper {
        grid-template-columns: 4fr 50fr 10fr 4fr;
    }

    #line_two_wrapper {
        grid-template-columns: 4fr 60fr 4fr;
    }

    #line_three_wrapper, #line_four_wrapper, #line_five_wrapper {
        grid-template-columns: 4fr 30fr 30fr 4fr;
    }

    #organizer_name {
        margin-right: 1.1em;
    }

    .remove_participant {
        margin-left: 10%;
        width: 80%;
    }

}

@media only screen and (max-width: 1024px) {
    /* phones and tablets */
    main {
        margin-top: 140px;
    }

    .secondary {
        background-color: lightgrey;
        background: linear-gradient(lightgrey, lightgrey);
    }

    .complementary_main {
        margin-top: 99px;
        grid-template-columns: 1fr;
    }

    .complementary_main>section {
        margin-bottom: 0px;
        padding: 20px;
    }

    .complementary_main>div {
        display: none;
    }

    header {
        height: 112px;
    }

    #logo {
        margin: 0;
    }

    #links_container {
        top: 75px;
        width: 100%
    }

    #links_container>a {
        padding: 5px 0;
        margin: 0px .165% 0 .165%;
        width: 33%;
        /* background-color: rgba(255, 255, 255, 0.2); */
        /* border-radius: 0; */
    }

    #links_container>a.active {
        box-shadow: none;
    }

    #line_one_wrapper {
        grid-template-columns: 1fr 50fr 20fr 1fr;
    }

    #line_two_wrapper {
        grid-template-columns: 1fr 60fr 1fr;
    }

    #line_three_wrapper {
        display: grid;
        grid-template-columns: 1fr 30fr 30fr 1fr;
    }

    #line_four_wrapper {
        grid-template-columns: 1fr 25fr 25fr 11fr;
    }

    #line_five_wrapper {
        grid-template-columns: 1fr 30fr 30fr 1fr;
    }

    #organizer_name {
        width: 94%;
        margin-right: 0;
    }

    #organizer_email {
        width: 94%;
    }

    textarea {
        height: 237px;
    }

    .remove_participant {
        margin-left: 10%;
        width: 80%;
    }
}

@media only screen and (max-width: 400px) {
    /* little phones */
    #logo {
        font-size: 3.5em;
    }
}
